<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ortusolis.etaaranavkf"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module dist:instant="true" />
    <application
        android:name="com.ortusolis.etaaranavkf.Activity.WaterApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:visibleToInstantApps="true"
        android:usesCleartextTraffic="true"
        android:targetSandboxVersion="2"
        android:theme="@style/AppThemeEx">
        <activity android:name="com.ortusolis.etaaranavkf.Activity.DonationListStatusDescription"></activity>
        <activity android:name="com.ortusolis.etaaranavkf.Activity.DonationStatus" />
        <activity android:name="com.ortusolis.etaaranavkf.Activity.ConfirmRequest" />
        <activity android:name="com.ortusolis.etaaranavkf.Activity.DonationReport" />
        <activity android:name="com.ortusolis.etaaranavkf.Activity.DonationActivityDiscription" />
        <activity android:name="com.ortusolis.etaaranavkf.Activity.DonationActivity" />
        <activity android:name="com.ortusolis.etaaranavkf.Activity.UserProfileActivity" />
        <activity android:name="com.ortusolis.etaaranavkf.Activity.AddSubCategory" />
        <activity android:name="com.ortusolis.etaaranavkf.Activity.SwitchRole" />
        <activity android:name="com.ortusolis.etaaranavkf.Activity.SplashScreenWaterOts" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.DistributorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.PasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.PhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.CreatePlant"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.ViewPlant"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.ManualScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.DistributorAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.CustomerAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.BillListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.StackReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.TrackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.UpdateProductStockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.PlantGridActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.ProductDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.AddProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.MapsMarkerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.UpdateUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.ProductTransactionReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.OrderListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.OrderDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.BillDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.EmployeeOrderAssignedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.AssignedOrderDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.CardListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.OrderReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.ProductDetailReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.BillReportActivity"
            android:screenOrientation="portrait" /> <!--  -->
        <!--  -->
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.AssignedOrderListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.AssignedVoucherOrderDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.CustomerLedgerReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.CustomerOutstandingReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.MyBillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.StatusListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.MybillsDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.SchedulerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.TransferOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.ListMappedUsersList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ortusolis.etaaranavkf.cropper.CropImageActivity"
            android:screenOrientation="portrait" /> <!--  -->
        <activity
            android:name="com.ortusolis.etaaranavkf.service.RazorPayActivity"
            android:screenOrientation="portrait" /> <!--  -->
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.InitialScreenActivity"
            android:screenOrientation="portrait" /> <!--  -->
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.StatusActivity"
            android:screenOrientation="portrait" /> <!--  -->
        <activity
            android:name="com.ortusolis.etaaranavkf.Activity.WebViewActivity"
            android:screenOrientation="portrait" /> <!--  -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
<service
            android:name="com.ortusolis.water_distribution.service.UserService"
            android:enabled="true"
            android:process=":waterdist"
            />
        -->
        <!-- Firebase Notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="100213" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBlbMWQ3nywenMiPxJ8GJ41EAaUCqJDT3o" /> <!-- ./Firebase Notifications -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="86d10b78830c1a0dbcc18c03f0038831e3fd593c" />
<!--        <meta-data-->
<!--            android:name="com.razorpay.ApiKey"-->
<!--            android:value="rzp_test_kA2hROKJeaOPQU" />-->
<!--        android:value="rzp_test_i50l0d4Cja32Mc" />-->
<!--        android:value="rzp_test_NYxmr2CtwORaZd"  hdfc -->

<!--        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="2346304448952344"/>-->
        <receiver
            android:name="com.ortusolis.etaaranavkf.Utility.RestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="com.ionsales.RestartIntent" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ortusolis.etaaranavkf.location.LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ortusolis.etaaranavkf.location.LocationUpdatesBroadcastReceiver.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>
        <!--  -->
        <receiver android:name="com.ortusolis.etaaranavkf.Activity.ApplicationSelectorReceiver"></receiver>
        <!-- -->
        <service android:name="com.ortusolis.etaaranavkf.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!--  -->
        <service android:name="com.ortusolis.etaaranavkf.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.ortusolis.etaaranavkf.location.LocationUpdatesIntentService"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

<!--        <provider android:authorities="com.facebook.app.FacebookContentProvider{2346304448952344}"-->
<!--            android:name="com.facebook.FacebookContentProvider"-->
<!--            android:exported="true"/>-->
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>