<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.water_distribution">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".Activity.WaterApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"

        android:theme="@style/AppThemeEx">
        <activity android:name="com.android.water_distribution.Activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.water_distribution.Activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.DistributorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.OTPActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.NotificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.OrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.PasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.PhoneNumberActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.CreatePlant"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.ViewPlant"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.ManualScreen"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.DistributorAct"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.CustomerAct"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.BillListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.StackReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.TrackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.ReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.UpdateProductStockActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.PlantGridActivity" android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:name="com.android.water_distribution.Activity.ProductDescription"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.UserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.AddProductActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.MapsMarkerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.UpdateUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.ProductTransactionReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.OrderListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.OrderDescription"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.BillDescription"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.EmployeeOrderAssignedListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.AssignedOrderDescription"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.CardListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.OrderReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.ProductDetailReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.BillReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.AssignedOrderListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.AssignedVoucherOrderDescription"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.CustomerLedgerReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.CustomerOutstandingReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.MyBillActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.StatusListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.MybillsDescription"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.Activity.SchedulerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.android.water_distribution.cropper.CropImageActivity"
            android:screenOrientation="portrait"/>
        <receiver
            android:name=".Utility.RestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="com.ionsales.RestartIntent" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
        <service
            android:name=".service.UserService"
            android:enabled="true"
            android:process=":waterdist"
            />

        <!-- Firebase Notifications -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="100213" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBlbMWQ3nywenMiPxJ8GJ41EAaUCqJDT3o" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="86d10b78830c1a0dbcc18c03f0038831e3fd593c" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>